html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body{
    margin: 0;
    padding: 0;
    // overflow-x: hidden;
    width: 100vw;
}
.body-hide{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

// FIRST SECTION - LANDING -------------------------------------------------------------------
.first-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 7vw;
    width: 100vw;
    height: 85vh;
    overflow: hidden;
    font-family: verdana;
    color: white;
}
canvas{
    margin: 0;
    z-index: -1;
    background: radial-gradient(circle, rgba(68,68,68,1) 0%, rgba(17,17,17,1) 64%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
    position: absolute;
}
.navigation-bar{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;
}
.burger-menu{
    width: 10vw;
    height: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 9;
}
.line{
    width: 100%;
    height: 5px;
    background-color: white;
}
.overlay{
    background-color: #25282D;
    // display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 8;
    overflow: hidden;
}
.navigation-items ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
}
.navigation-items li{
    display: none;
    list-style: none;
    font-size: 2.5em;
    text-align: center;
}
.close-arrow-container{
    position: absolute;
    top: 5vh;
    left: 8vw;
    width: 10vw;
    height: 10vw;
    z-index: 9;
}
.language-options{
    width: 20vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.english{
    width: 8vw;
}
.spanish{
    width: 6vw;
}
.overlay-outer-ring{
    visibility: hidden;
    z-index: 6;
}
.overlay-circle{
    width: 15vw;
    position: absolute;
    z-index: 6;
    visibility: hidden;
}
.rings-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 60vw;
    z-index: 5;
}
.ring{
    position: absolute;
    animation: rotation;
    animation-iteration-count: infinite;
}
.outer-ring{
    width: 60%;
    animation-duration: 210s;
}
.middle-ring{
    width: 52%;
    animation-duration: 120s;
}
.inner-ring{
    width: 42%;
    animation-duration: 90s;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
.profile-photo{
    width: 30%;
    position: absolute;
    clip-path: circle(50%);
}
.name-title-container{
    font-size: 1.7em;
    text-align: center;
    padding: 2vh;
}
.contact-button{
    padding: 1vh 4vw;
    border-radius: 10px;
    background-color: white ;
    color: #8C0303;
    box-shadow:  1px 1px 5px 1px  #888888;
}
.arrow-scroll-container{
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-scroll{
    width: 100%;
}
.arrow-visible{
    // width: 8vw;
    // position: absolute;
    // top: 68vh;
    // left: 50%;
    // transform: translate(-50%, -50%);
    visibility: visible;
}
.arrow-invisible{
    visibility: hidden;
    width: 0;
    height: 0;
}

// SECOND SECTION - PROJECTS ----------------------------------------------------------------------------
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 7vw;
    background-color: #25282D;
    color: white;
}
.section-title{
    font-size: 3em;
    text-align: center;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(16, 20, 31);
    border-radius: 10px;
    box-shadow: 2px 2px 15px black;
    margin-bottom: 4vh;
}
.project-image{
    width: 100%;
    height:30vh;
    border-radius: 10px 10px 0 0 ;
}
.project-text{
    border: 2px solid rgb(41, 47, 66);
    border-style: solid none none none;
    padding: 4vw;
}
.project-text p{
    text-align: justify;
}

// THIRD SECTION - ABOUT ----------------------------------------------------------------------------
.about-text{
    text-align: justify;
}
.technologies{
    width: 80vw;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 47, 66);
    padding: 3vw;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
.technology-logo{
    width: 10vw;
    height: 10vw;
    padding: 2vw;
}

// FOURTH SECTION - CONTACT ----------------------------------------------------------------------------
.contact-text span:first-child{
    font-size: 2em;
}
.contact-form{
    margin-top: 4vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
input, textarea{
    width: 60vw;
    border-radius: 5px;
}
input{
    text-align: center;
}
input[name='name']::placeholder, input[name='mail']::placeholder{
    text-align: center;
}
.submit-button{
    background-color: lightgray;
    color: #8C0303;
    border-radius: 15px;
    padding: 0.5vh 6vw;
}
.social-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35vw;
    margin-top: 3vh;
}
.social-logo{
    width: 8vw;

}